.btn{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    color: aqua;
}
.bordered{
    border:1px solid grey;
}
.ghost{
    border: none;
}
.red {
    background-color: crimson;
}
.green{
    background-color: green;
}